/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --green: #b56cff;
  --green-dark: #8441c6;
  --green-soft: #321d47;
  --lime: #d7adff;
  --ink: #f2f4ef;
  --muted: #a9afa7;
  --line: #30332f;
  --surface: #1c1e1b;
  --background: #242424;
  --danger: #ff7979;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--ink);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@keyframes pulse-animation {
  0%, 100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(91, 212, 143, .7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(91, 212, 143, 0);
  }
}

